@model HospitalManagement.ViewModels.Users

    <div class="modal fade" id="forgetPasswordModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="forgotPassModalLabel">Forgot Password</h5>
                    <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <form id="forgetPasswordForm">
                        <div class="form-group">
                            <label for="uName" class="col-form-label">Email:</label>
                            @*<input type="email" class="form-control" id="UserEmailFP" placeholder="Enter Your Email">
                            <span id="emailError"></span>*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "UserEmailFP", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group" style="display:none" id="OtpSection">
                            <label for="uName" class="col-form-label">OTP :</label>
                            <input type="text" class="form-control" id="OTP" placeholder="Enter OTP">
                            <span id="usrNameError"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="userForgotPasswordBtn">Submit</button>
                    <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
